*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.liste{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    text-align: right;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
}
.info1{
    margin-left: 8%;
    margin-top: 15%;
}
.info1 h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

span{
    color: rgb(26, 127, 210);
}
.info1 p{
    color: black;
    line-height: 22px;
}
.info1 a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.img1{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img1 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img1:hover .shape{
    bottom: 40px;
}
.img1:hover .Neo{
 left: 45%;
}